<h1>This is the homepage!</h1>

<form action="/links" method="POST">
  <div class="form-group">
    <label for="url">URL:</label>
    <textarea name="url" rows="8" cols="40" value="http://" placeholder="Link Goes Here"></textarea>
  </div>
  <input type="submit" class="btn btn-primary">
</form>
